<html>

<head>
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bellezze d'Italia</h1>
    <div class="container">
        <div class="imagebox">
            <img src="static/image/colosseo.jpg" />
            <a href="/roma"><p>ROMA</p></a>
        </div>
        <div class="imagebox">
            <img src="static/image/duomo.jpeg">
            <a href="/milano"><p>MILANO</p></a>
        </div>
        <div class="imagebox">
            <img src="static/image/torre_pisa.jpg" />
            <a href="/pisa"><p>PISA</p></a>
        </div>
        <div class="imagebox">
            <img src="static/image/fontana_trevi.jpg" />
            <a href="/firenze"><p>FIRENZE</p></a>
        </div>
    </div>
</body>
</html>